{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <!-- Section connexion -->
    <div class="container">
        <div class="row justify-content-center">
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="text-center my-5 text-white">Connexion</h1>

                <form>
                    <label for="inputPseudo" class="text-white">Votre pseudo</label>
                    <input type="text" name="pseudo" id="inputPseudo" class="form-control mb-4" required autofocus>

                    <label for="inputEmail" class="text-white">Votre email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" required>

                    <label for="inputPassword" class="text-white">Votre mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" class="text-white">

                    <button class="btn btn-primary mt-3" type="submit">Envoyer</button>

                </form>
            </form>
        </div>
    </div>

{% endblock %}
