{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <!-- Section inscription -->
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center my-5 text-white">Inscription</h1>

    <div class="container my-3">
        <div class="row justify-content-center text-white">

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.lastName, {
                    label:'Votre nom',
                }) }}
                {{ form_row(registrationForm.firstName, {
                    label:'Votre prénom'
                }) }}
                {{ form_row(registrationForm.email, {
                    label:'Votre email'
                }) }}
                {{ form_row(registrationForm.pseudo, {
                    label:'Votre pseudo'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Votre mot de passe'
                }) }}

                <button type="submit mt-4" class="btn btn-primary">Envoyer</button>

            {{ form_end(registrationForm) }}

        </div>
    </div>

{% endblock %}
