{% extends 'base.html.twig' %}

{% block title %}Profile du Brameur{% endblock %}

{% block body %}

        <div id="displayUser" class="container text-primary my-4" data-id="{{ userId }}"></div>

    <!-- Javascript custom pour la page profil -->
 {% block javascriptIndex %}
        {{ encore_entry_script_tags('displayUser') }}
    {% endblock %}

{% endblock %}