{% extends 'base.html.twig' %}

{% block title %}Détails du Brame{% endblock %}

{% block body %}

    <!-- Affichage du post séléctionné -->
    <div id="postDetails" data-id="{{ postId }}" class="container d-flex flex-column my-4"></div>

    <!-- Affichage formulaire de commentaire -->
    <div class="container commentDiv">
        {% if app.user %}
        <div id="commentBrameForm" class="container">
                <p class="h4 text-white">Commenter</p>
                <p class="text-primary mb-0">En tant que {{ app.user.firstName }} @{{ app.user.pseudo }}</p>
                <form>
                    <label for="commentBrame"></label>
                    <textarea name="commentBrame" id="commentBrame" rows="4" class="form-control" maxlength="140"></textarea>

                    <button class="btn btn-primary mt-3" id="createBrameComment">Commenter</button>
                </form>
        </div>
        {% endif %}

    <!-- Affichage commentaires du post -->
    <div id="postComment" class="container my-5 d-flex flex-column"></div>
    </div>

    <!-- Javascript custom -->
    {% block javascriptIndex %}
        {{ encore_entry_script_tags('displayBrame') }}
    {% endblock %}

{% endblock %}
