{% extends 'base.html.twig' %}

{% block title %}Accueil Brame{% endblock %}

{% block body %}


    {% include 'components/header.html.twig' %}


    {% block lastBrame %}

        <!-- Section last brame -->
        <div class="container" id="lastBrameDisplay">
            <h2 class="text-white mt-5">Brame récents</h2>
        </div>

    {% endblock %}

    {% include 'components/footer.html.twig' %}

    <!-- Javascript custom -->
    {% block javascriptIndex %}
        {{ encore_entry_script_tags('index') }}
    {% endblock %}

{% endblock %}
