{% extends 'base.html.twig' %}

{% block title %}Bramer !{% endblock %}

{% block body %}

    <!-- Section fomulaire nouveau Brame -->
    <form class="form d-flex flex-column mt-5 text-white" id="newBrameForm">
        <h3>Envie de bramer {{ app.user.firstName }} {{ app.user.LastName }}</h3>

        <label for="message" class="mt-3">Votre Brame</label>
        <textarea name="message" cols="10" rows="5" id="messageBrame" class="form-control" maxlength="140"></textarea>

        <div class="d-flex mt-2" id="hashtagDiv">
            <label for="brameHashtag" id="hashtagSvg">
                <svg class="mt-2" width="18px" height="18px" viewBox="0 -21 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path fill="#5DBD6F" d="m448 106.839844h-64.8125l21.398438-79.808594c3.050781-11.371094-3.691407-23.082031-15.082032-26.132812-11.390625-3.050782-23.105468 3.710937-26.132812 15.082031l-24.339844 90.859375h-151.511719l21.398438-79.808594c3.050781-11.371094-3.691407-23.082031-15.082031-26.132812-11.394532-3.027344-23.082032 3.710937-26.113282 15.082031l-24.363281 90.859375h-79.359375c-11.777344 0-21.332031 9.535156-21.332031 21.332031 0 11.800781 9.554687 21.335937 21.332031 21.335937h67.902344l-34.324219 128h-76.246094c-11.773437 0-21.332031 9.535157-21.332031 21.332032s9.558594 21.332031 21.332031 21.332031h64.8125l-21.398437 79.808594c-3.050782 11.371093 3.691406 23.082031 15.082031 26.132812 1.835937.492188 3.691406.726563 5.503906.726563 9.410157 0 18.050781-6.273438 20.589844-15.808594l24.382813-90.859375h151.507812l-21.398438 79.808594c-3.046874 11.371093 3.691407 23.082031 15.085938 26.132812 1.832031.492188 3.6875.726563 5.523438.726563 9.410156 0 18.046874-6.273438 20.585937-15.808594l24.363281-90.859375h79.359375c11.777344 0 21.335938-9.535156 21.335938-21.332031s-9.558594-21.332032-21.335938-21.332032h-67.902343l34.324218-128h76.246094c11.777344 0 21.332031-9.535156 21.332031-21.335937 0-11.796875-9.554687-21.332031-21.332031-21.332031zm-154.753906 170.667968h-151.507813l34.324219-128h151.511719zm0 0"/></svg>
            </label>
            <input type="text" name="brameHashtag" id="brameHashtag" class="form-control ml-2" maxlength="20">
            <p class="ml-auto mt-2 pl-2">@ {{ app.user.pseudo }}</p>
        </div>
        <p class="ml-2 text-white maxCaract">max 20 carac' sans espaces</p>

        <button class="btn btn-primary mt-3" id="createBrameButton">Bramer !</button>
    </form>

    <!-- Javascript custom -->
    {% block javascriptIndex %}
        {{ encore_entry_script_tags('newBrame') }}
    {% endblock %}

{% endblock %}
