// IMPORT DES FEUILLES ANNEXES + CUSTOM BOOTSTRAP + BOOTSTRAP
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "postIndex";
@import "navbar";
@import "brameForm";
@import "displayBrame";
@import "displayProfil";

// STYLE GENERAL

// EMPECHE LES TEXTAREA D'ETRE RESIZE
textarea {
  resize: none;
}

// STYLE GENERAL
a {
  color: $primary;
  cursor: pointer;

  &:hover {
      color: white;
      text-decoration: none;

      p {
          color: white;
      }
  }
}

// sweet alert
.sweetalert {
  padding: 0;
}
.swal-title,
.swal-text {
  color: $primary;
}

.swal-overlay {
  background-color: $primarytrans;
}

// FOOTER
.footer {
  background-image: url(../images/cubes.png);
  box-shadow: 0px -17px 0px 0px red;

  .footerFilter {
    opacity: 0.8;
    background-color: $secondary;

    a {
      font-size: 0.8rem;
      color: white;

      &:hover {
        color: $primary;
      }
    }
  }
}
