// STYLE DISPLAY BRAME SELECTIONNE

// GENERALE
a,
#commentButton {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: white;
    text-decoration: none;

    p {
      color: white;
    }
  }
}

// DISPLAY POST SELECTIONNE
#postDetails {

  .dateDisplayBrame {
    font-size: 14px;
  }

  .auteurDisplayBrame {
    font-size: 22px;
  }

  .pseudoDisplayBrame, .hashBrameDisplay {
    font-size: 16px;
  }

  .messageDisplayBrame {
    border-left: 4px solid $primary;
  }

  .buttonDiv {

    a,
    p {
      color: $success;
      font-size: 12px;

      &:hover {
        color: white;
      }
    }

    .modifyButton {

      &:hover {
        color: $warning;
      }
    }

    .deleteButton {

      &:hover {
        color: $danger;
      }
    }
  }
}

// DISPLAY COMMENTAIRE FORM ET POST
.commentDiv {
  padding-left: 10%;

  #commentBrameForm {
    // display: none;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    &.clicked {
      // display: block;
      max-height: 600px;
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }
}

#postComment {
  .lastComment {

    .commentPost {
      border-left: 4px solid white;
      .dateComment {
        font-size: 12px;
      }
    }

    .pseudoComment {
      font-size: 14px;
    }
  }
}