// STYLE NAVBAR
.navbar-toggler {
    border: none;
    &.collapsed {
        border: none;
    }
    &:focus {
        border: none;
    }
}

.dropdown-item {
    &:hover {
        background-color: $secondary;
    }
}