// STYLE HEADER
.mainHeader {
    min-height: 450px;
    background-image: url(../images/cubes.png);
    p {
        font-size: 20px;
        span {
            font-size: 24px;
        }
    }
    h1 {
    font-family: 'Rye', cursive;
    font-size: 48px;
    }
    .btnBlock {
        a {
            &:hover {
                background-color: $dark !important;
            }
        }
    }
}

// STYLE BOUTONS supprimer, éditer, liker, commenter

.bouton {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:hover {
        background-color: $secondary;
    }
}

// STYLE POST
// #lastBrameDisplay, #hashtagValue, #displayProfil, #postDetails
.numComment {
    font-size: 14px;
}

.datePostIndex {
    font-size: 12px;
}

.pseudoPostIndex, .hashPostIndex {
    font-size: 14px;
}

.messagePostIndex {
    border-left: 4px solid $primary;
}

.buttonDiv {

    a {
        color: $success;
        font-size: 12px;

        &:hover {
            color: white;
        }
    }

    .modifyButton {

        &:hover {
            color: $warning;
        }
    }

    .deleteButton {

        &:hover {
            color: $danger;
        }
    }
}