<div class="footer shadow-lg">
    <div class="footerFilter d-flex justify-content-around align-items-center py-2 mt-5">
        <div class="d-flex flex-column align-items-center">
            <a href="#">Copyright</a>
            <a href="#">Contactez-nous</a>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a class="navbar-brand font-weight-bold text-primary ml-3" href="{{ path('main') }}"><img src="{{ asset('/img/logoNew.png') }}" alt="logo"></a>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a href="#">Vie privé</a>
            <a href="#">Mentions légales</a>
        </div>
    </div>
</div>